body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

#create-note-container {
  display: flex;
  flex-direction: column;
  width: 50em;
}

.note-container {
  text-align: center;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: white;
}

.edit-title-container, .edit-body-container {
  margin-top: 1em;
  
  textarea {
    width: 90%
  }
}

